# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
build/
.packages
*.iml
.idea/
.vscode/

# Environment
.env

# OS
.DS_Store
Thumbs.db

# IDE
*.swp
*.swo
*~
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Build artifacts
*.apk
*.app
*.ipa
*.aar
*.deb
